@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4a90e2, #50c9c3);
  min-height: 100vh;
  margin: 0; 
  padding: 0%;
  padding-left: 0px;
  margin-left: 0%;             /* remove default browser margins */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Root container */
#root {
  width: 100%;            /* take full width */
  min-height: 100vh;      /* take full height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* remove white bg so gradient shows fully */
}
